#!/usr/bin/env bash

##################################################################
# Configuration Parameters
##################################################################

# This will be the symlink we create on your Apache's htdocs dir. It will point to our "web" directory, which is the only one we need to expose through Apache.
STA_APACHE_SYMLINK_TARGET=/var/www/html/sta